.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.local
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Excludes the generated TS types from protobuf files
src/lib/types/*.ts
